* {
  margin: 0;
  padding: 0;
}
.container {
  background: #fff;
  font-family: "Poppins", sans-serif;
}

.header {
  background: #427ab4;
  height: 150px;
  text-align: center;
}
.text-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-right: 15px;
  color: #fff;
  font-size: 23px;
  font-weight: 700;
}
.text-header h5 {
  width: 200px;
}
.main-header {
  height: 502px;
  background: url(../Assets/Images/front-view-beautiful-dog-with-copy-space\ \(1\).png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-text {
  padding-top: 150px;
  padding-left: 150px;
  width: 600px;
  line-height: 60px;
  font-size: 30px;
  color: #fff;
}
.main-text p {
  font-size: 18px;
}
.main-text a {
  border-radius: 35px;
  border-bottom: 1px solid #b2cdef;
  background: #427ab4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 80px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  margin-left: 90px;
}
.section2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.section2 img {
  width: 689px;
  height: 560px;
}
.section2 h3 {
  color: #427ab4;
  text-align: center;
  font-size: 30.057px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 30px;
}
.text-section2 {
  width: 650px;
  color: #002953;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-right: 40px;
  margin-top: 80px;
}
.p1 {
  font-weight: 700;
  padding-bottom: 15px;
}
.p2 {
  padding-bottom: 15px;
  font-weight: 400;
}
.p3 {
  font-weight: 500;
}
.section3 {
  background: url(../Assets/Images/dark_blue_paws.png);
  height: 575px;
}
.text-section3 {
  color: #427ab4;
  text-align: center;
  font-size: 30.057px;
  font-style: normal;
  font-weight: 700;
  padding-top: 60px;
}
.cards-section3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
}
.card {
  border-radius: 35px;
  border-bottom: 3px solid #427ab4;
  background: #ffae12;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 260px;
  height: 290px;
  flex-shrink: 0;
  text-align: center;
  color: #fff;
  line-height: 25px;
  padding: 10px;
}
.card h4 {
  padding-bottom: 10px;
}
.section4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.yellow-dog {
  order: 2;
}
.yellow-dog img {
  height: 570px;
}
.title-section4 {
  position: absolute;
  top: 20px;
}
.rectangle {
  order: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 90px;
  margin-left: 100px;
  color: #002953;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.rectangle img {
  background-color: #2362a1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: 80px;
}
.rectangle1 {
  width: 250px;
  height: 411px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle1 p {
  color: #427ab4;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 10px;
}
.rectangle1 ul {
  color: #002953;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  list-style-type: none;
  padding: 0;
}
.rectangle1 ul li::before {
  content: " ";
  background-color: #002953;
  color: #002953;
  font-weight: 800;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 30px;
  margin-right: 10px;
}
.rectangle2 {
  width: 250px;
  height: 411px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle2 p {
  color: #427ab4;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 10px;
}
.rectangle2 ul {
  color: #002953;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  list-style-type: none;
  padding: 0;
}
.rectangle2 h6 {
  font-size: 18px;
  font-weight: lighter;
  padding-left: 30px;
}
.rectangle2 ul li::before {
  content: " ";
  background-color: #002953;
  color: #002953;
  font-weight: 800;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 30px;
  margin-right: 10px;
}
.rectangle a {
padding: 15px 50px;
border-radius: 33px;
background: linear-gradient(0deg, #FFAE12 0%, #FFAE12 100%), #FFAE12;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
text-decoration: none;
color: #fff;
text-align: center;
margin-left: 40px;
position: absolute;
bottom: 110px;
}
.title-section4 {
width: 241px;
height: 71px;
color: #FFAE12;
text-align: center;
font-size: 30.057px;
font-weight: 700;
margin-right: 500px;
}
.section6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
 margin-top: -20px;
}
.img-section6 {
  order: 1;
  width: 90px;
  margin-left: 90px;
}
.list-section6 {
  order: 2;
  width: 510px;
  margin-right: 40px;
  color: #002953;
  font-size: 20px;
  font-weight: 500;
  
}
.list-section6 ul {
  list-style: none;
}
.list-section6 .list {
  padding-bottom: 20px;
}
.title-section6{
  order: 2;
}
.title-section6 p {
  position: absolute;
  right: 210px;
  top: 90px;
  color: #427AB4;
text-align: center;
font-size: 30.057px;
font-style: normal;
font-weight: 700;
}